<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h2 class="mt-1 mb-3">Login here!</h2>
                  <hr />
                </div>
                <form [formGroup]="loginForm">
                  <div class="form-outline mb-4 mt-1">
                    <label for="" class="form-label">E-mail Address</label>
                    <input
                      class="form-control form-control-lg"
                      placeholder="Enter Your email address"
                      formControlName="email"
                    />
                    <small
                      class="text-danger p-2"
                      *ngIf="
                        (frmControl['email'].touched &&
                          frmControl['email'].errors &&
                          frmControl['email'].errors['pattern']) ||
                        (frmControl['email'].touched &&
                          frmControl['email'].pristine) ||
                        (isSubmited &&
                          frmControl['email'].pristine &&
                          frmControl['email'].invalid)
                      "
                      >Enter valid email address</small
                    >
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      placeholder="Enter Your Password"
                      formControlName="password"
                    />
                    <small
                      class="text-danger p-2"
                      *ngIf="
                        (frmControl['password'].touched &&
                          frmControl['password'].errors &&
                          frmControl['password'].errors['pattern']) ||
                        (frmControl['password'].touched &&
                          frmControl['password'].pristine) ||
                        (isSubmited &&
                          frmControl['password'].pristine &&
                          frmControl['password'].invalid)
                      "
                      >Enter valid email address</small
                    >
                  </div>
                  <div class="row text-center pt-1">
                    <div class="col-md-12">
                      <button
                        class="btn btn-lg btn-success btn-block fa-lg gradient-custom-2 mb-3 w-100"
                        type="button"
                        (click)="onHandleLogin()"
                      >
                        Login
                      </button>
                    </div>
                    <div class="col-md-6">
                      <!-- <button
                        type="button"
                        (click)="googleAuth()"
                        class="btn btn-lg btn-secondary text-white w-100"
                      >
                        Google
                      </button> -->
                      <asl-google-signin-button
                        class="loginGoogle"
                      ></asl-google-signin-button>
                    </div>
                    <div class="col-md-6">
                      <button
                        type="button"
                        (click)="onFacebookAuth()"
                        class="btn btn-lg btn-primary text-white w-100"
                      >
                        Facebook
                      </button>
                    </div>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center mt-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a
                      [routerLink]="'/auth/signup'"
                      class="text-decoration-none text-danger"
                      >Create new</a
                    >
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
              <img
                *ngIf="user?.photoUrl === null"
                class="mx-auto p-3"
                src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
                alt="photo"
                width="70%"
                height="55%"
              />
              <img
                *ngIf="user?.photoUrl"
                class="mx-auto p-3"
                [src]="user?.response?.picture?.data?.url"
                alt="photo"
                width="50%"
                height="40%"
                style="border-radius: 50%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
